<ng-template [ngIf]="combinations">
    <p class="txt-center">{{combinations.length }} combinations remain</p>
    <p class="txt-center">Whic is better. Choose to click or use your arrow keys</p>
    <div class="container" *ngIf="chosen">
        <div class="chosen" (click)="choose(true)">
            <img [src]="chosen.left.poster" class="poster" [alt]="chosen.left.name">
            <h4 class="txt-center">{{chosen.left.imdbScore}}</h4>
        </div>
        <h4 class="or">OR</h4>
        <div class="chosen" (click)="choose(false)">
            <img [src]="chosen.right.poster" class="poster" [alt]="chosen.right.name">
            <h4 class="txt-center">{{chosen.right.imdbScore}}</h4>
        </div>
    </div>
</ng-template>